
body{
  background-color: #192839;
}


#bgmob 
{	
  background: linear-gradient(20deg, #192839 50%, #1ab4e2 115%);
}

.icon:after{
  width: 40px;
	height:40px;
  background:rgb(255, 255, 255);
  transform:scale(1.5);
  position: absolute;
  left: -16%;
  top: -16%;
  opacity:0;
  transition:transform .5s, opacity 0s;
  z-index: 1;
}


.section-divider{
  display: block;
  border: none;
  padding: 0;
}
.faded-edges {
  height: 1px;
}
  
.btn-hover {
  background-size: 300% 100%;

}

.btn-hover:hover {
  background-position: 100% 0;

}

.btn-hover.color-10 {
  background-image: linear-gradient(to right, #fd1370, #7d9be9, #7d9be9 , #fd1370);
}



/* ----------------------Project Cards------------------- */




.wrapper p{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  letter-spacing: 0.77px;
  font-weight: 400;
}

.card_wrapper {
  background: #E4F2F9;
}

.card_wrapper:hover {
  box-shadow: 0 8px 17px 0 rgba(250, 26, 26, 0.09);
  transform: scale(1.01) 
}

/* --------------------------//Project cards ----------------------------- */


/* --------------------------Skill bars ----------------------------- */

#skills {
  margin: 0 auto;
  width: 80%;
  max-width: 960px;
}
#skills li {
  position: relative;
  margin-bottom: 32px;
  padding-left: 6px;
}
#skills li .bar-container, #skills li .bar {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 5px;
  content: "";
}
#skills li .bar-container {
  bottom: -8px;
  width: 100%;
  background-color: #333;
  text-align: right;
}
#skills li .bar-container .bar {
  top: 0;
}
#skills li .bar-container .pct {
  position: absolute;
  top: -19px;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
}



 /* --------------------------//Skill bars ----------------------------- */

#submit-form input:focus ~ label,
#submit-form input:valid ~ label
{

  transform: translateY(-20px);
}



/*----------------- scroll transition -------------------- */

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/*----------------- //scroll transition -------------------- */